{% block footer %}
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase">Tentang Kami</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a est id dolor porta mattis. Donec venenatis molestie ullamcorper. Curabitur tincidunt velit nec porttitor varius. Sed quis magna erat. Donec tempus nulla eu ultricies vestibulum. Nulla quis consequat metus, id vestibulum nisl. Proin eleifend sapien metus, id consequat arcu lobortis vel. Nunc eu sem vitae metus efficitur rhoncus ut et lacus.</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled">
                <li>
                <a href="#!">Twitter</a>
                </li>
                <li>
                <a href="#!">Facebook</a>
                </li>
                <li>
                <a href="#!">Email</a>
                </li>
                <li>
                <a href="#!">Instagram</a>
                </li>
            </ul>
            </div>
    
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                    <a href="#!">LinkedIn</a>
                    </li>
                    <li>
                    <a href="#!">Reddit</a>
                    </li>
                    <li>
                </ul>
            </div>
        </div>
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="#"> GuideMe!.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
{% endblock footer %}